<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<script type="text/javascript">
    $(document).ready(function () {
        alert(123);
        $("#test").html("<h1>TMP</h1>");

        $.get(
            "/get_user1"
        ).then(function (value) {
            console.log(value);
        }, function (reason) {
            console.log(reason);
        });
    })
</script>
    <body>
        <div id="test"></div>
        <h1>Hello World</h1>
        <a href="/login">login</a><br />
        <a href="/logout">logout</a><br />
        <a href="/hello">hello</a><br />
        <a href="/bye">bye</a>
    </body>
</html>