<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Play me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
        function deleteRoom() {
            $.get(location.href + '/delete').then(function (data) {
                document.location = data
            });
        }

        function viewUsers() {
            $.get(location.href + '/update_view_players').then(function (data) {
                // setInterval(viewUsers, 1000);
                $("#usersList").html(data);
                console.log(data);
            });
        }

        function viewUsersPerSec() {
            $(document).ready(function () {
                // $("#viewUsers").html("<h1>TMP</h1>");
                alert(123);
                setInterval(viewUsers, 1000);
            })
        }
    </script>
</head>
<body>
<h1>Зетс руум фор гаме</h1>
<button type="submit" onclick="deleteRoom()">Удалить комнату</button>
<div id="usersList" onload="viewUsersPerSec()"></div>
</body>
</html>