<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Play me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
        function deleteRoom() {
            $.get(location.href + '/delete').then(function (data) {
                document.location = data
            });
        }

        function exitRoom() {
            $.get(location.href + '/exit').then(function (data) {
                document.location = data
            });
        }

        function game() {
            $.get(location.href + '/game').then(function (data) {
                $("#info").html(data);
            });
        }

        function startCheck() {
            $.get(location.href + '/start').then(function (data) {
                setInterval(game, 1000);
                console.log(data)
            });
        }

        function viewUsers() {
            $.get(location.href + '/update_view_players').then(function (data) {
                $("#usersList").html(data);
                console.log(data);
            });
        }

        function viewUsersPerSec() {
            setInterval(viewUsers, 500);
        }

        $(document).ready(function () {
            viewUsersPerSec();
        })
    </script>
</head>
<body>
<h1>Зетс руум фор гаме</h1>
<button type="submit" onclick="deleteRoom()">Удалить комнату</button>
<button type="submit" onclick="startCheck()">HEУдалить комнату</button>
<br>
<div id="usersList"></div>
<div id="info"></div>
</body>
</html>