<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Play me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
        function deleteRoom() {
            $.get(location.href + '/delete').then(function (data) {
                document.location = data
            });
        }

        function leaveRoom() {
            $.get(location.href + '/leave').then(function (data) {
                document.location = data
            });
        }

        function clickHim(data) {
            $.get(location.href + '/click_to_user/' + data.id).then(function () {
                console.log(data.id)
            });
        }

        function game() {
            $.get(location.href + '/game').then(function (data) {
                $("#info").html(data);
            });
        }

        function letsPlay() {
            setInterval(game, 1000);
        }

        var interval;

        function startCheck() {
            $.get(location.href + '/start').then(function (data) {
                    if (data === 1)
                        $("#info").html("Время до начала: " + data + "/60000");
                    if (data === 3) {
                        document.location = "/playrooms";
                        alert("Владелец комнаты удалил ее :(");
                    } else if (data === 2) {
                        startAgain(1);
                        letsPlay();
                    }
                }
            )
        }

        function startAgain(data) {
            console.log(data);
            if (data === 0)
                interval = setInterval(startCheck, 1000);
            if (data === 1)
                clearInterval(interval);
        }

        function sendMessage() {
            $.get(location.href + '/chat/' + document.getElementById("textMessage").value).then(function (jsonGameRooms) {
                $('#chat').empty();
                if (jsonGameRooms !== "") {
                    document.getElementById("textMessage").value = "";
                    var element = document.getElementById('chat');
                    var fragment = document.createDocumentFragment();
                    var objGameRoom = JSON.parse(jsonGameRooms, function (key, value) {
                        if (key === "message") {
                            var messageElement = document.createElement('a');
                            messageElement.textContent = value;
                            fragment.appendChild(messageElement);
                            var brb = document.createElement('br');
                            fragment.appendChild(brb);
                        }
                    });
                    element.appendChild(fragment);
                } else {
                    document.getElementById("textMessage").value = "";
                    alert("🔫 Ночью в чате общается только мафия 🔫‍");
                }
            });

        }

        function chatUpdate() {
            $.get(location.href + '/chat').then(function (jsonGameRooms) {
                $('#chat').empty();
                if (jsonGameRooms !== "") {
                    var element = document.getElementById('chat');
                    var fragment = document.createDocumentFragment();
                    var objGameRoom = JSON.parse(jsonGameRooms, function (key, value) {
                        if (key === "message") {
                            var messageElement = document.createElement('a');
                            messageElement.textContent = value;
                            fragment.appendChild(messageElement);
                            var brb = document.createElement('br');
                            fragment.appendChild(brb);
                        }
                    });
                    element.appendChild(fragment);
                }
            });

        }

        function resChat() {
            setInterval(chatUpdate, 1000);
        }

        function viewUsers() {
            $.get(location.href + '/update_view_players').then(function (jsonGameRooms) {
                $('#usersList').empty();
                var element = document.getElementById('usersList');
                var fragment = document.createDocumentFragment();
                var objGameRoom = JSON.parse(jsonGameRooms, function (key, value) {
                    if (key === "username") {
                        var buttonElement = document.createElement('button');
                        buttonElement.type = "submit";
                        buttonElement.className = "btn";
                        buttonElement.id = value;
                        buttonElement.onclick = function () {
                            clickHim(this);
                        };
                        buttonElement.textContent = value;
                        fragment.appendChild(buttonElement);
                        // var brb = document.createElement('br');
                        // fragment.appendChild(brb);
                    }
                });
                element.appendChild(fragment);
            });

        }

        function buttonDelRoom() {
            $.get(location.href + '/btnCheck').then(function (data) {
                    if (data === 0) {
                        $('#forHost').empty();
                    }
                }
            )
        }

        function viewUsersPerSec() {
            setInterval(viewUsers, 1000);
        }

        $(document).ready(function () {
            viewUsers();
            chatUpdate();
            viewUsersPerSec();
            buttonDelRoom();
            startAgain(0);
            startCheck();
            resChat();
        })
    </script>
</head>
<body style="background-color: rgba(238,183,131,0.89)">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#" style="color: white">Мафия</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color: white">Домик <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://www.printplay.ru/kartochnaya-igra-mafiya-karty/" style="color: white">Правила
                    (да-да, они есть) <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Я для красоты ¯\_(ツ)_/¯">
            <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Не работает, но тыкни</button>-->
        </form>
    </div>
</nav>
<br>
<!--<div id="usersList"></div>-->
<div class="container">
    <div class="row">
        <div class="col-8" style="margin-left: -7vw">
            <div id="info"></div>
            <div style="margin-top: 8vh">
                <div class="border border-danger" id="chat"
                     style="overflow: auto; height: 62vh; width: 45.1vw"></div>
                <div style="display: inline-flex; margin-top: 1vh">
                    <input type="text" class="form-control" placeholder="Опять ты чатишься?!" id="textMessage"
                           style="width: 37vw">
                    <button class="btn btn-success" style="margin-left: 1vh" type="submit" onclick="sendMessage()">
                        Отправить
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-left: 2vw">
            <div>
                <div style="width: 40vw; height: 80vh">
                    <div class="border border-success" style="height: 30vh; width: 35vw" id="roleInfo"></div>
                    <div class="border border-success" style="width: 35vw; height: 38vh" id="usersList"></div>
                </div>
                <div style="display: inline-flex; margin-top: -7vh">
                    <button class="btn" type="submit" style="background-color: darkorange; color: white"
                            onclick="leaveRoom()">
                        Покинуть
                        комнату
                    </button>

                    <div id="forHost">
                        <button class="btn btn-danger" style="margin-left: 1vw" type="submit" onclick="deleteRoom()">
                            Удалить
                            комнату
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
</body>
</html>